In [2]:
import pandas as pd
import numpy as np
from tabulate import tabulate

Melihat  jumlah record, nama attribute, jumlah attribute dengan tipe objek, jumlah attribute dengan tipe angka, jumlah attribute yang memiliki nilai null.

In [3]:
data = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5268 entries, 0 to 5267
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         5268 non-null   int64
 1   Date          5268 non-null   object
 2   Time          3049 non-null   object
 3   Location      5248 non-null   object
 4   Operator      5250 non-null   object
 5   Flight #      1069 non-null   object
 6   Route         3562 non-null   object
 7   Type          5241 non-null   object
 8   Registration  4933 non-null   object
 9   cn/In         4040 non-null   object
 10  Aboard        5246 non-null   float64
 11  Fatalities    5256 non-null   float64
 12  Ground        5246 non-null   float64
 13  Summary       4878 non-null   object
dtypes: float64(3), int64(1), object(10)
memory usage: 576.3+ KB

Masukkan informasi di atas dalam dictionary dengan key sesuai nama informasinya. Tampilkan isi dari dictionary tersebut sebagus mungkin.

In [6]:
#jumlah Record
jumlah = len(data)

In [7]:
atribut = list(data.columns)
atribut = "\n".join(atribut)

In [10]:
#jumlah atribut tipe object
obj = len(data.dtypes[data.dtypes == 'object'])

In [11]:
#jumlah atribut tipe angka
num = len(data.dtypes[data.dtypes == 'int64'])
num1 = len(data.dtypes[data.dtypes == 'float64'])

In [12]:
#jumlah atribut nilai null
nul = data.isna().any().sum()

In [13]:
dictionary = {
    "Jumlah Record" : [jumlah],
    "Atribut":[atribut],
    "Jumlah Tipe Object" : [obj],
    "Jumlah Tipe Integer" : [num],
    "Jumlah Tipe Float" : [num1],
    "Jumlah Nilai NULL" : [nul],

}

In [14]:
tabel = pd.DataFrame(dictionary)
print(tabulate(tabel, headers='keys', tablefmt='psql', showindex=False))

+-----------------+--------------+----------------------+-----------------------+---------------------+---------------------+
|   Jumlah Record | Atribut      |   Jumlah Tipe Object |   Jumlah Tipe Integer |   Jumlah Tipe Float |   Jumlah Nilai NULL |
|-----------------+--------------+----------------------+-----------------------+---------------------+---------------------|
|            5268 | index        |                   10 |                     1 |                   3 |                  12 |
|                 | Date         |                      |                       |                     |                     |
|                 | Time         |                      |                       |                     |                     |
|                 | Location     |                      |                       |                     |                     |
|                 | Operator     |                      |                       |                     |                     |
|                 | Flight #     |                      |                       |                     |                     |
|                 | Route        |                      |                       |                     |                     |
|                 | Type         |                      |                       |                     |                     |
|                 | Registration |                      |                       |                     |                     |
|                 | cn/In        |                      |                       |                     |                     |
|                 | Aboard       |                      |                       |                     |                     |
|                 | Fatalities   |                      |                       |                     |                     |
|                 | Ground       |                      |                       |                     |                     |
|                 | Summary      |                      |                       |                     |                     |
+-----------------+--------------+----------------------+-----------------------+---------------------+---------------------+

Tampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka.

In [15]:
data.describe()

            index       Aboard   Fatalities       Ground
count  5268.00000  5246.000000  5256.000000  5246.000000
mean   2633.50000    27.554518    20.068303     1.608845
std    1520.88494    43.076711    33.199952    53.987827
min       0.00000     0.000000     0.000000     0.000000
25%    1316.75000     5.000000     3.000000     0.000000
50%    2633.50000    13.000000     9.000000     0.000000
75%    3950.25000    30.000000    23.000000     0.000000
max    5267.00000   644.000000   583.000000  2750.000000

Tampilkan nilai korelasi attribute bertipe angka.

In [17]:
data.corr()

C:\Users\Acer\AppData\Local\Temp\ipykernel_13616\2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

               index    Aboard  Fatalities    Ground
index       1.000000  0.146481    0.097453  0.031080
Aboard      0.146481  1.000000    0.757172  0.023241
Fatalities  0.097453  0.757172    1.000000  0.035170
Ground      0.031080  0.023241    0.035170  1.000000

mengubah tipe int menjadi float pada atribut index

In [20]:
data["index"].head()

0    0
1    1
2    2
3    3
4    4
Name: index, dtype: int64

In [22]:
data["index"] = data["index"]*0.001

In [23]:
data["index"].head()

0    0.000
1    0.001
2    0.002
3    0.003
4    0.004
Name: index, dtype: float64

Tampilkan 10 record pertama dari attribute bertipe angka.

In [24]:
data.dtypes

index           float64
Date             object
Time             object
Location         object
Operator         object
Flight #         object
Route            object
Type             object
Registration     object
cn/In            object
Aboard          float64
Fatalities      float64
Ground          float64
Summary          object
dtype: object

In [25]:
dataAngka = pd.DataFrame()
for i in data.columns:
    if(data[i].dtypes == "int64" or data[i].dtypes == "float64"):
        dataAngka[i] = data[i]

In [26]:
dataAngka.dtypes

index         float64
Aboard        float64
Fatalities    float64
Ground        float64
dtype: object

In [27]:
dataAngka.head(10)

   index  Aboard  Fatalities  Ground
0  0.000     2.0         1.0     0.0
1  0.001     5.0         5.0     0.0
2  0.002     1.0         1.0     0.0
3  0.003    20.0        14.0     0.0
4  0.004    30.0        30.0     0.0
5  0.005    41.0        21.0     0.0
6  0.006    19.0        19.0     0.0
7  0.007    20.0        20.0     0.0
8  0.008    22.0        22.0     0.0
9  0.009    19.0        19.0     0.0

Simpan dataset dengan attribute bertipe angka ke dalam file CSV

In [29]:
dataAngka.to_csv("Data-tipe-angka.csv")